.mt-container {
  font-size: 30px;
  border: 1px solid #CCC;
  box-sizing: content-box;
  cursor: text;
  min-height: 40px;
  padding: 10px; }
  .mt-container textarea {
    display: none; }
  .mt-container input {
    border: 0;
    width: 20px; }
  .mt-container .mt-ul {
    box-sizing: border-box;
    float: left;
    padding: 0;
    margin: 0;
    list-style: none; }
    .mt-container .mt-ul .mt-token, .mt-container .mt-ul input {
      margin-right: 20px; }
      .mt-container .mt-ul .mt-token.mt-selected, .mt-container .mt-ul input.mt-selected {
        background: blue; }

.mt-token, .mt-container input {
  box-sizing: border-box;
  float: left;
  font-size: 20px;
  line-height: 40px;
  background: lightblue;
  border: 1px solid #3498db;
  display: block;
  height: 40px;
  padding: 0 10px;
  border-radius: 6px;
  width: initial; }
  .mt-token.mt-error, .mt-container input.mt-error {
    background: red; }

a:focus,
select:focus,
input:focus {
  outline: medium none !important; }

button::-moz-focus-inner,
select::-moz-focus-inner {
  border: 0 none !important; }
